.categories {
  margin-top: 30px;

  &__list {
    display: flex;
    gap: 10px;

    @media screen and (max-width: 768px) {
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__list-item {
    padding: 10px 20px;
    background-color: #eee;
    border-radius: 25px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    cursor: pointer;
    color: #000;
    transition: all 0.15s ease-in-out;

    &:hover {
      background-color: #888b8d81;
    }

    @media screen and (max-width: 768px) {
      min-width: fit-content;
    }

    &_active {
      color: #fff;
      padding: 10px 20px;
      background-color: #000;
      border-radius: 25px;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 500;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        min-width: fit-content;
      }
    }
  }
}
