body {
  margin: 0;
  font-family: Inter, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee1c6;
  padding: 40px 65px;

  @media screen and (max-width: 768px) {
    padding: 20px 25px;
  }
}

* {
  font-family: Inter, Verdana, sans-serif;
}
